body{
  text-align: center;
  background-color: rgb(242, 252, 255);
  font-family: 'Courier New', Courier, monospace;
}
.title{
  font-size: 100px;
}
.links{
  font-size: 30px;
  display:inline-block;
  list-style: none;
  color: lightpink;
}
a:visited{
  color: rgb(238, 171, 181);
}
a:link{
  color: rgb(238, 171, 181);
}
a:hover{
  color: rgb(220, 162, 191);
}

@media (max-width :480px) {
  .title {
    font-size: 60px;
    display:inline-block;
  }
  .links{
    font-size: 20px;
    line-height: 50px;
    margin-right: 30px;
    
  }
}